* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background: lightblue;
}

main {
    font-size: 1.25rem;
    padding: 4rem;
    margin: 5rem 20rem;
}

header {
    display: flex;
    flex: wrap;
    justify-content: space-between;
    margin: 1rem;
    padding: 1rem;
    font-size: 1.5em;
}

.intro-container, .question-container {
    max-width: 100%;
    padding: 4rem;
    margin: 5rem 15rem;
    border: 3px solid black;
    border-radius: 1rem;
    text-align: center;
    font-size: 1.5em;
}

.show {
    display: block;
}

.hidden {
    display: none;
}